body {
  height: 100%;
  background: url(../imgs/jeremy-thomas-99326.jpg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.container-fluid {
  width: 100%;
  height: 100%;
}

.container {
  width: 80%;
  height: 900px;
  min-height: 100%;
}

.main-container {
  /*background-color: rgba(255, 255, 255, 0.25);*/
}

.main-header {
  color: #edd9ff;
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
  text-shadow: 1px 1px 2px black;
}

.card {
  height: 13  0px;
  margin: 5px;
  min-width: 15%;
  max-width: 24%;
  background-size: cover;
  background-position: center;
  border: black solid 6px;
}

#card-holder {
  margin: 5px;
  height: 550px;
}

.points-holder {
  color: #edd9ff;
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  font-size: 30px;
  text-shadow: 1px 1px 2px black;
  height: 30px;
}

.button-holder {
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
}

.button {
  background-color: #edd9ff;
  color: #a64fb3;
  font-size: 30px;
  font-family: 'Luckiest Guy', cursive;
  box-shadow: 0px 0px 7px black;
  height: 47px;
}

#lose-photo {
  float: left;
  max-height: 150px;
  margin-right: 10px;
}

#boots-portrait {
  float: left;
  max-height: 150px;
  margin-right: 10px;
}

.modal-footer {
  justify-content: center
}

.modal-title {
    font-family: 'Luckiest Guy', cursive;
}

.modal-header {
  background-color: #edd9ff;
}

#target-photo {
  max-width: 100%;
  margin: auto;
}

#target-date {
  text-align: center;
  font-weight: 700;
  padding-top: 10px;
}

.fly {
  animation-duration: 2s;
  animation-name: fly;
  
}

@keyframes fly {

}
